<article class="card" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="card-header">
        <!-- <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1> -->
        <h4 class="post-meta">
            {{ page.title }}
            {% include language_identifier.html lang=page.lang %}
        </h4>
        <p class="post-summary">Written by : {% if page.author %}
            <a style="text-decoration: none;" href="{{ site.url}}{{site.baseurl}}/">
                <img src="{{site.url}}{{site.baseurl}}/assets/img/profile_small.png" class="author-profile-img zoom">
            </a>
            <a href="{{ site.url}}{{site.baseurl}}/">
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name">{{ page.author }}</span>
                </span>
            </a>
            {% endif %}
            <time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date: "%d. %m. %Y" }}</time>
            &nbsp;&nbsp;
            <a href="https://hits.seeyoufarm.com/api/count/graph/dailyhits.svg?url={{ site.url }}{{ site.baseurl }}{{ page.url }}">
                <img
                    src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&amp;count_bg=%23F69801&amp;title_bg=%23555555&amp;icon=&amp;icon_color=%23E7E7E7&amp;title=%F0%9F%91%80&amp;edge_flat=true"
                />
            </a>

        </p>
        <span class="disqus-comment-count" data-disqus-identifier="{{ page.url }}"></span>
        <!-- <div class="post-categories">
            {% if post %} {% assign categories = post.categories %} {% else %} {% assign categories = page.categories %} {% endif %}
            Kategorie : {% for category in categories %}
            <a href="{{site.baseurl}}/blog/categories/{{category|slugize}}">{{category}}</a>
            {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
        </div> -->
    </div>

    <div class="card-body" itemprop="articleBody">
		{% if page.head_photo %}
			<a href="{{site.url}}{{site.baseurl}}/assets/blog/{{ page.media_folder }}/{{ page.head_photo }}"  data-fancybox="gallery" >
				<img src="{{site.url}}{{site.baseurl}}/assets/blog/{{ page.media_folder }}/{{ page.head_photo }}" alt="{{ post.title }}" width="100%"  />
			</a>
		{% else %}
			<a href="{{site.url}}{{site.baseurl}}/assets/blog/{{ page.media_folder }}/{{ page.thumbnail }}"  data-fancybox="gallery" >
				<img src="{{site.url}}{{site.baseurl}}/assets/blog/{{ page.media_folder }}/{{ page.thumbnail }}" alt="{{ post.title }}" width="100%"  />
			</a>
		{% endif %}
        <br/> <br/>
        {{ content }}
    </div>

    {%- include blog_post_comments.html -%}
</article>
