---
title: Elektronika
menus: header
layout: vybaveni
image: assets/blog/blog.png
media_folder: ../page/vybaveni/electro
---


{% include boxes.html
url1="cipy.png"
description1="Čipy: Arduino, ESP8266, ESP32, ..."
url2="senzory-power-komunikace.png"
description2="Senzory, napájení, komunikace"
%}

{% include boxes.html
url1="senzory-input.png"
description1="Senzory - vstupní"
url2="power-input-output.png"
description2="Senzory - vstupní, výstupní"
%}

{% include boxes.html
url1="prepinace.png"
description1="Tlačítka, vypínače, přepínače"
url2="pohyb-vzdalensot.png"
description2="Pohon, senzory, kabely"
%}

{% include boxes.html
url1="kleste-krimplDraty.png"
description1="Kleště, kabely, konektory"
url2="prevodniky-usbC.png"
description2="Převodníky, konektory, USB"
%}


{% include boxes.html
url1="napajeni-vsehochyt.png"
description1="Všehochuť"
url2="krabicky-tlacitka-displej.png"
description2="Krabičky, klávesnice, dsiplej"
%}

{% include boxes.html
url1="pajeni.png"
description1="Pájení"
url2="drevo-lepeni.png"
description2="Lepení"
%}

{% include boxes.html
url1="konektory.png"
description1="Konektory"
url2="pinheady-konektory.png"
description2="Penheady a konektory"
%}