---
title: Electronics
menus: header
layout: equipment
image: assets/blog/blog.png
media_folder: ../page/equipment/electro
---


{% include boxes.html
url1="cipy.png"
description1="Chips: Arduino, ESP8266, ESP32, ..."
url2="senzory-power-komunikace.png"
description2="Sensors, power, communication"
%}

{% include boxes.html
url1="senzory-input.png"
description1="Sensors - input"
url2="power-input-output.png"
description2="Sensors - input and output"
%}

{% include boxes.html
url1="prepinace.png"
description1="Buttons and switches"
url2="pohyb-vzdalensot.png"
description2="Movement, sensors, cables"
%}

{% include boxes.html
url1="kleste-krimplDraty.png"
description1="Pliers, cables, connectors"
url2="prevodniky-usbC.png"
description2="Converters, connectors, USB"
%}


{% include boxes.html
url1="napajeni-vsehochyt.png"
description1="All sorts"
url2="krabicky-tlacitka-displej.png"
description2="Boxes, keyboards, display"
%}

{% include boxes.html
url1="pajeni.png"
description1="Soldering"
url2="drevo-lepeni.png"
description2="Gluing"
%}

{% include boxes.html
url1="konektory.png"
description1="Connectors"
url2="pinheady-konektory.png"
description2="Pin Header and connectors"
%}