---
title: Vybavení
menus: header
layout: page
image: assets/blog/blog.png
media_folder: "assets/page/vybaveni"
---

<h1>Moje vybavení</h1>

<div class="card-deck">

{% include vybaveniCard.html
    image="laptop.png"
    image-src="https://www.flaticon.com/premium-icon/laptop_2593980"
    title="Můj notebook"
    description="Můj PC setup  a příslušenství"
    href="/vybaveni/laptop/"
%}

{% include vybaveniCard.html
    image="software.png"
    image-src="https://www.flaticon.com/free-icon/feature_1085784"
    title="Moje oblíbené aplikace"
    description="Soupis zajímavého softwaru v mém počítači"
    href="/vybaveni/software/"
%}

{% include vybaveniCard.html
    image="microcontroller.png"
    image-src="https://www.flaticon.com/free-icon/microcontroller_2752878"
    title="Mikrokontroléry"
    description="Mikrokontroléry, čipy a programátory"
    href="/vybaveni/microcontroller/"
%}

</div>

<div class="d-flex">
    <a href="https://www.flaticon.com/free-icons/laptop" title="laptop icons" class="ml-auto">Ikona byla vytvořena autorem Konkapp - Flaticon</a>
</div>

<div class="d-flex">
    <a href="https://www.flaticon.com/free-icons/application" title="application icons" class="ml-auto">Ikona byla vytvořena autorem monkik - Flaticon</a>
</div>

<div class="d-flex">
    <a href="https://www.flaticon.com/free-icons/microcontroller" title="microcontroller icons" class="ml-auto">Ikona byla vytvořena autorem Eucalyp - Flaticon</a>
</div>

