---
title: Vybavení
menus: header
layout: page
image: assets/blog/blog.png
media_folder: "assets/page/equipment"
---

<h1>My technical equipment</h1>

<div class="card-deck">

{% include equipmentCard.html
    image="laptop.png"
    image-src="https://www.flaticon.com/premium-icon/laptop_2593980"
    title="My laptop"
    description="My setup and accessories"
    href="/equipment/laptop/"
%}

{% include equipmentCard.html
    image="software.png"
    image-src="https://www.flaticon.com/free-icon/feature_1085784"
    title="My favorite applications"
    description="List of interesting software in my computer"
    href="/equipment/software/"
%}

{% include equipmentCard.html
    image="microcontroller.png"
    image-src="https://www.flaticon.com/free-icon/microcontroller_2752878"
    title="Home electronics"
    description="Microcontrollers, sensors and other electronic components"
    href="/equipment/electro/"
%}

</div>

<div class="d-flex">
    <a href="https://www.flaticon.com/free-icons/laptop" title="laptop icons" class="ml-auto">Ikcon has been created by Konkapp - Flaticon</a>
</div>

<div class="d-flex">
    <a href="https://www.flaticon.com/free-icons/application" title="application icons" class="ml-auto">Ikcon has been created by monkik - Flaticon</a>
</div>

<div class="d-flex">
    <a href="https://www.flaticon.com/free-icons/microcontroller" title="microcontroller icons" class="ml-auto">Ikcon has been created by Eucalyp - Flaticon</a>
</div>

